<h1>Linnworks category overview</h1>
<p>Ensure that your Linnworks account is active</p>
<p>Use this form to retrieve your configured categories. This will provide information on how many products are currently available in each category.</p>
<p>Enter a current token from your Linnworks session and submit the request.</p>
<form [formGroup]="categoriesForm" (ngSubmit)="request()" #formDir="ngForm" novalidate>

    <div class="form-group row">

        <label class=" control-label col-md-12" for="AuthToken">Enter token</label>

        <div class="col-md-4">
            <input class="form-control" type="text" formControlName="AuthToken">
        </div>

        <span class="text-danger" *ngIf="categoriesForm.hasError('required', 'AuthToken') && formDir.submitted">
            A token is required.
        </span>

    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-default">Load Categories</button>
    </div>
</form>
<p *ngIf="!categoriesList"><em>We're loading...</em></p>

<table class='table' *ngIf="categoriesList">
    <thead>
        <tr>
            <th>Category ID</th>
            <th>Category Name</th>
            <th>Number of products</th>
           
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cat of categoriesList">
            <td>{{ cat.categoryId }}</td>
            <td>{{ cat.categoryName }}</td>
            <td>{{ cat.count }}</td>
        </tr>
    </tbody>
</table>
